body {
    background-image: url("/assets/fundo-papel-amarelado.jpg");
    background-size: cover;
    margin: 0;
    font-family: 'Courier Prime';
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/Courier Prime.ttf');
}